extends ../layouts/default

block intro
	.container
		h1 New Listing

block content
	.container
		.row: .col-sm-8.col-md-6
			form(method='post')
				input(type='hidden', name='action', value='newlisting')
				.form-group(class=validationErrors.title ? 'has-error' : null)
					label Name
					input(type='text', name='title', value=formData['title']).form-control

				textarea(name='content.brief').form-control
					!= (formData.content)?formData.content.brief:''

				.form-actions
					button(type='submit').btn.btn-primary Create