extends ../../layouts/default

block intro
	.container
		h1 Your Account

block content
	.container
		.row: .col-sm-8.col-md-6
			h2 Welcome #{locals.user.name.full}

		.row.col-sm-8.col-md-6
			if locals.user.hasSubscription
				h2 You has the right to post to the directory
				p: a(href='/directory/new-listing') Create new listing
			else
				h2 You need to subscribe to post to the directory
				p: a(href='/account/subscribe') Subscribe with Paypal