extends ../../layouts/default

block intro
	.container
		h1 Sign in

block content
	.container
		.row: .col-sm-8.col-md-6
			form(method='post')
				input(type='hidden', name='action', value='signin')
				.form-group(class=validationErrors.email ? 'has-error' : null)
					label Email
					input(type='text', name='email', value=formData['email']).form-control
				.form-group(class=validationErrors.email ? 'has-error' : null)
					label Password
					input(type='password', name='password', value=formData.password).form-control

				.form-actions
					button(type='submit').btn.btn-primary Sign in
